@{
    ViewData["Title"] = "About";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /*Section Counter*/
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
        float: left;
        width: 25%;
        padding: 0 5px;
    }

    .row {
        margin: 0 -5px;
    }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #444;
        color: white;
    }
    .fa {
        font-size: 50px;
    }


    /*End Section Counter*/
    .headerAbout {
        margin-top: 10px;
        background-color: white;
        box-sizing: border-box;
        padding: 30px;
        border: 10px solid;
    }

    .headerAbout2 {
        margin-top: 10px;
        background-color: white;
        box-sizing: border-box;
        padding: 30px;
        border: 10px solid;
    }

    h1 {
        color: brown;
        text-align: center;
    }

    p {
        color: black;
    }

    span {
        color: darkgreen;
        margin-left: 20px;
    }

    #jocuri {
        color: brown;
        display: inline-block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: white;
        padding: 10px;
    }

    .grid-item {
        background-color: white;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
</style>

<header class="headerAbout">
    <br />
    <h1>Do you wanna travel?</h1>
    <br />
    <p><span>Travelly-Tour</span>, We're called Travelly-Tour for a reason. It's because we're constantly looking for ways to make your holiday as perfect as possible, from the way we plan the trip to the authentic experiences you'll enjoy while away. Those added touches include several original-holidays that other travel company not offers. We like to call it simply and cute, Travelly</p>
    <br />
</header>
<header class="headerAbout2">
    <br />
    <h1>Why Travelly-Tour?</h1>
    <br />
    <p>We understand that there is no unique way to make a perfect journey that everyone will like because each person has his special needs and desires. We always listen to you first and then suggest the travel solution that is the best for you.</p>
    <br />
    <div class="grid-container">
        <div class="grid-item">
            <i class="fas fa-plane-departure" aria-hidden="true"></i>
            &nbsp;
            <h3 id="jocuri">The safest flights</h3>
            <p>
                A wide range of high-class airlines for an unforgettable trip
            </p>
        </div>
        <div class="grid-item">
            <i class="fas fa-concierge-bell" aria-hidden="true"></i>
            &nbsp;
            <h3 id="jocuri">Bonus services</h3>
            <p>
                We offer bonus services that will meet certain physiological and medical wishes
            </p>
        </div>
        <div class="grid-item">
            <i class="fa fa-users" aria-hidden="true"></i>
            &nbsp;
            <h3 id="jocuri">Pleasant ambiance</h3>
            <p>
                We understand how important your trip is and we share in your excitement from our first chat until you return home.
            </p>
        </div>
    </div>
</header>
&nbsp;
<br />

<div class="row">
    <div class="column">
        <div class="card">
            <p><i class="fa fa-user"></i></p>
            <h3>11+</h3>
            <p>Partners</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-check"></i></p>
            <h3>55+</h3>
            <p>Projects</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <h3>100+</h3>
            <p>Happy Clients</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p><i class="fa fa-coffee"></i></p>
            <h3>100+</h3>
            <p>Meetings</p>
        </div>
    </div>
</div>